In [68]:
from weights import weights
import pandas as pd
from skcriteria import Data, MIN, MAX
from skcriteria.madm import closeness, simple

# Set Weigths
# Preference: Activity (0 or 1)
p_act_hike = 0
p_act_surf = 1

# Preference: Feature (0 or 1 or 2)
p_weather = 2
p_corona = 2
p_cost = 0
p_CO2 = 2
p_time = 0

weights = weights(p_weather, p_corona, p_cost, p_CO2, p_time,p_act_hike, p_act_surf).transpose().iloc[0, :].tolist()

weights

[0.1535, 0.156375, 0.0285, 0.0, 0.5, 0.0, 0.133125, 0.0285]

In [69]:
city_weather_scores = pd.read_csv('city_weather_scores.csv')
city_weather_scores

,Unnamed: 0,Munich,Zurich,Montpellier,Barcelona,Lyon,Geneva,Colmar,Avignon,Ceret,...,Chamonix,St.Moritz,Genoa,Marseille,Bayonne,Bordeaux,Saint Etienne,Milan,Paris,Strasbourg
0,0,4,4,4,4,4,4,4,4,4,...,4,4,8,7,4,4,4,5,4,4
1,1,4,4,3,4,4,4,4,4,4,...,4,4,5,3,4,4,4,5,4,4
2,2,5,5,4,4,4,4,4,5,4,...,4,5,4,4,4,4,4,4,5,4
3,3,4,5,4,4,5,5,5,4,6,...,5,5,4,4,4,4,4,5,5,4
4,4,6,7,6,6,9,10,7,6,6,...,6,6,9,9,5,6,9,9,7,7
5,5,6,7,6,6,6,6,6,6,5,...,5,5,6,7,6,6,6,6,6,6
6,6,5,5,6,9,5,4,6,5,6,...,5,5,6,9,6,6,6,6,6,6
7,7,6,6,6,6,6,6,6,6,6,...,6,6,6,6,5,6,6,5,9,6
8,8,9,9,6,6,6,6,9,9,7,...,6,6,6,6,6,6,6,6,6,9
9,9,9,6,9,6,10,6,6,9,6,...,6,6,6,9,9,9,9,6,6,6
10,10,6,6,5,6,5,7,6,6,6,...,6,6,6,6,4,5,6,6,6,6
11,11,5,5,5,6,6,6,6,5,6,...,6,5,7,6,6,6,5,6,6,4
12,12,6,6,8,9,6,6,7,6,9,...,6,5,6,8,6,6,6,6,6,6
13,13,6,7,9,9,10,10,7,6,6,...,7,7,9,10,6,9,9,10,6,7

In [70]:
city_corona_score_growth = pd.read_csv('city_corona_score_growth.csv')
city_corona_scores = city_corona_score_growth.T
city_corona_scores.columns = city_corona_score_growth['city'].to_list()
city_corona_scores = city_corona_scores.iloc[1:]
city_corona_scores

,Munich,Zurich,Montpellier,Barcelona,Lyon,Geneva,Colmar,Avignon,Ceret,Mende,...,Chamonix,St.Moritz,Genoa,Marseille,Bayonne,Bordeaux,Saint Etienne,Milan,Paris,Strasbourg
0,91.6315,47.8272,26.8463,91.116,29.9052,30.475,22.7782,21.3406,9.96686,6.59164,...,12.3021,16.4752,30.4062,26.8463,14.2716,29.3542,22.5116,94.9423,93.4358,30.2854
1,94.638,65.786,45.83,94.3057,50.7837,51.7057,40.345,36.9002,17.8974,12.4418,...,22.0119,29.3357,51.5944,45.83,25.3705,49.8916,39.8806,96.7682,95.7998,51.3989
2,96.5663,77.3977,59.2809,96.3517,65.3355,66.4616,53.8602,48.3496,24.2344,17.7206,...,29.6971,39.3756,66.3257,59.2809,34.1537,64.2455,53.2504,97.9385,97.3154,66.087
3,97.8018,84.9202,68.8507,97.6629,75.4715,76.7019,64.2399,56.8785,29.3371,22.5548,...,35.8137,47.2365,76.5536,68.8507,41.2427,74.2799,63.525,98.6875,98.286,76.2928
4,98.5933,89.8113,75.7024,98.5031,82.5337,83.8023,72.2009,63.3302,33.4832,27.0334,...,40.7168,53.4066,83.6495,75.7024,47.0821,81.3047,71.4128,99.1666,98.9072,83.3807
5,99.1004,93.0089,80.6504,99.0415,87.4603,88.7236,78.3033,68.2982,36.8927,31.2205,...,44.683,58.2748,88.5716,80.6504,51.9867,86.2356,77.4647,99.4729,99.3048,88.3041
6,99.4255,95.1152,84.2635,99.3867,90.9042,92.1349,82.9781,72.2002,39.7258,35.1614,...,47.9251,62.1394,91.987,84.2635,56.185,89.7104,82.108,99.6686,99.5592,91.7264
7,99.634,96.5167,86.9382,99.6084,93.3191,94.5004,86.5599,75.3296,42.1226,38.888,...,50.6041,65.2296,94.3587,86.9382,59.8371,92.1724,85.6713,99.7935,99.7221,94.1087
8,99.7679,97.4614,88.9505,99.7508,95.0199,96.1421,89.3057,77.8928,44.1807,42.4236,...,52.8565,67.7299,96.0077,88.9505,63.0611,93.9296,88.4089,99.8731,99.8263,95.7703
9,99.854,98.1085,90.4927,99.8425,96.2246,97.2829,91.4115,80.0351,45.9724,45.7839,...,54.7688,69.7688,97.1564,90.4927,65.941,95.1953,90.5139,99.9237,99.8929,96.9327
10,99.9094,98.5603,91.6985,99.9016,97.0842,98.077,93.0288,81.8598,47.558,48.9812,...,56.4235,71.4576,97.9587,91.6985,68.5382,96.1174,92.136,99.9557,99.9354,97.7489
11,99.945,98.883,92.6618,99.9397,97.7035,98.6312,94.273,83.4397,48.9853,52.0238,...,57.8845,72.8764,98.5209,92.6618,70.899,96.7988,93.3895,99.9757,99.9624,98.3251
12,99.9678,99.119,93.4477,99.9642,98.1547,99.0191,95.232,84.8273,50.2942,54.9184,...,59.1834,74.0847,98.9167,93.4477,73.0565,97.3104,94.3606,99.9879,99.9794,98.7344
13,99.9822,99.296,94.1025,99.9798,98.4882,99.2917,95.9737,86.0607,51.5078,57.6709,...,60.3616,75.1332,99.197,94.1025,75.0381,97.7019,95.1167,99.995,99.9898,99.0277

In [71]:
from routes import routes_data
from cities import city_data

for i, route in enumerate(routes_data):
    #print(route['dayslist'])
    
    c = 0
    route_weather_scores = []
    route_corona_scores = []
    route_cost_score = 0
    act_hike = 0
    act_surf = 0
    act_both = 0
    
    for city_index, city_name in enumerate(route['stopsList']):
        #print(city_name)
        #print(city_weather_scores[city_name].iloc[c:(c+route['dayslist'][city_index])])
        
        route_weather_scores += city_weather_scores[city_name].iloc[c:(c+route['dayslist'][city_index])].to_list()
        route_corona_scores += city_corona_scores[city_name].iloc[c:(c+route['dayslist'][city_index])].to_list()
        c = c + route['dayslist'][city_index]
        
        route_cost_score += route['dayslist'][city_index] * city_data[city_name]['cost']
        act_hike += route['dayslist'][city_index] * city_data[city_name]['hike']
        act_surf += route['dayslist'][city_index] * city_data[city_name]['surf']
    
    act_both += (act_hike + act_surf)
    
    print("Route: ", route['stopsList'])
    print("Days: ", route['dayslist'])
    print("Weather score: ", sum(route_weather_scores) / len(route_weather_scores))
    print("Corona score: ", sum(route_corona_scores) / len(route_corona_scores))
    print(route_cost_score / 14)
    print("Act Hike: ", act_hike)
    print("Act Surf: ", act_surf)
    print("Act Both: ", act_both)
    print("Emissions: ", route['emission'])
    print("Travel time: ", route['travelTime'])
    print()

Route:  ['Zurich', 'Montpellier', 'Barcelona', 'Lyon', 'Geneva']
Days:  [2, 3, 3, 3, 3]
Weather score:  6.142857142857143
Corona score:  85.76817209962682
0.3807142857142857
Act Hike:  5
Act Surf:  3
Act Both:  8
Emissions:  473
Travel time:  34

Route:  ['Colmar', 'Avignon', 'Ceret', 'Barcelona', 'Mende', 'Titisee-Neustadt']
Days:  [2, 1, 3, 3, 2, 3]
Weather score:  6.071428571428571
Corona score:  61.24821436025729
0.16999999999999998
Act Hike:  7
Act Surf:  3
Act Both:  10
Emissions:  519
Travel time:  35

Route:  ['Mayrhofen', 'Bozen', 'Digne', 'Girona', 'Barcelona', 'Rodez', 'Chamonix']
Days:  [2, 2, 1, 2, 3, 2, 2]
Weather score:  5.785714285714286
Corona score:  60.8032879408865
0.1692857142857143
Act Hike:  7
Act Surf:  5
Act Both:  12
Emissions:  549
Travel time:  42

Route:  ['St.Moritz', 'Genoa', 'Marseille', 'Barcelona', 'Bayonne', 'Bordeaux', 'Saint Etienne']
Days:  [2, 2, 2, 3, 2, 2, 1]
Weather score:  6.214285714285714
Corona score:  76.24957177696419
0.2614285714285715
Act Hike:  2
Act Surf:  7
Act Both:  9
Emissions:  609
Travel time:  46

Route:  ['Zurich', 'Milan', 'Avignon', 'Barcelona', 'Bordeaux', 'Paris', 'Strasbourg']
Days:  [2, 2, 1, 3, 2, 3, 1]
Weather score:  6.0
Corona score:  89.97398868646808
0.3385714285714286
Act Hike:  3
Act Surf:  5
Act Both:  8
Emissions:  625
Travel time:  40

In [ ]:
# Get Alternative Matrix
SPREADSHEET_ID = '1M-nvjnx8fDUCXRe6nsxV8bmlJgKPer_mVVOpISMCqcE'
RANGE_NAME = 'Alternative Matrix!B2:I6'
alt = sheet(SPREADSHEET_ID, RANGE_NAME)

# Create Optimal Sense
os = [MAX, MIN, MIN, MAX, MAX, MAX, MIN, MIN]

# Combine Alternative Matrix and Optimal Sense
anames = ["Greta", "Scared", "Adrenaline-Outdoor", "Adrenaline-Sport", "Culture"]
RANGE_NAME = 'Alternative Matrix!B1:I1'
cnames = sheet(SPREADSHEET_ID, RANGE_NAME).iloc[0,:].tolist()
data = Data(alt, os, weights=weights, anames=anames, cnames=cnames)

# MCDA method

# TOPSIS
dm = closeness.TOPSIS()
dec = dm.decide(data)
print(data.anames[dec.best_alternative_])