In [1]:
import pandas as pd

In [2]:
city_weather_scores = pd.read_csv('city_weather_scores.csv')
city_weather_scores

,Unnamed: 0,Munich,Zurich,Montpellier,Barcelona,Lyon,Geneva,Colmar,Avignon,Ceret,...,Chamonix,St.Moritz,Genoa,Marseille,Bayonne,Bordeaux,Saint Etienne,Milan,Paris,Strasbourg
0,0,4,4,4,4,4,4,4,4,4,...,4,4,8,7,4,4,4,5,4,4
1,1,4,4,3,4,4,4,4,4,4,...,4,4,5,3,4,4,4,5,4,4
2,2,5,5,4,4,4,4,4,5,4,...,4,5,4,4,4,4,4,4,5,4
3,3,4,5,4,4,5,5,5,4,6,...,5,5,4,4,4,4,4,5,5,4
4,4,6,7,6,6,9,10,7,6,6,...,6,6,9,9,5,6,9,9,7,7
5,5,6,7,6,6,6,6,6,6,5,...,5,5,6,7,6,6,6,6,6,6
6,6,5,5,6,9,5,4,6,5,6,...,5,5,6,9,6,6,6,6,6,6
7,7,6,6,6,6,6,6,6,6,6,...,6,6,6,6,5,6,6,5,9,6
8,8,9,9,6,6,6,6,9,9,7,...,6,6,6,6,6,6,6,6,6,9
9,9,9,6,9,6,10,6,6,9,6,...,6,6,6,9,9,9,9,6,6,6
10,10,6,6,5,6,5,7,6,6,6,...,6,6,6,6,4,5,6,6,6,6
11,11,5,5,5,6,6,6,6,5,6,...,6,5,7,6,6,6,5,6,6,4
12,12,6,6,8,9,6,6,7,6,9,...,6,5,6,8,6,6,6,6,6,6
13,13,6,7,9,9,10,10,7,6,6,...,7,7,9,10,6,9,9,10,6,7

In [3]:
city_corona_score_growth = pd.read_csv('city_corona_score_growth.csv')
city_corona_scores = city_corona_score_growth.T
city_corona_scores.columns = city_corona_score_growth['city'].to_list()
city_corona_scores = city_corona_scores.iloc[1:]
city_corona_scores

,Munich,Zurich,Montpellier,Barcelona,Lyon,Geneva,Colmar,Avignon,Ceret,Mende,...,Chamonix,St.Moritz,Genoa,Marseille,Bayonne,Bordeaux,Saint Etienne,Milan,Paris,Strasbourg
0,91.9119,49.3375,26.6244,91.4132,29.8644,30.4746,22.7551,20.9381,9.64817,6.39373,...,11.9649,16.1823,30.4008,26.6244,13.8798,29.2763,22.4719,95.1141,93.6574,30.2713
1,94.817,66.7187,45.4663,94.4953,50.7131,51.7006,40.3,36.2431,17.3343,12.098,...,21.4177,28.8204,51.5812,45.4663,24.7264,49.761,39.8069,96.8781,95.9413,51.3716
2,96.6802,77.9632,58.8324,96.4723,65.2453,66.4514,53.7964,47.5411,23.4858,17.2702,...,28.9087,38.6935,66.3056,58.8324,33.3553,64.082,53.1489,98.0085,97.4055,66.0497
3,97.8741,85.2541,68.3572,97.7394,75.3699,76.6877,64.161,55.9895,28.4485,22.0272,...,34.8807,46.4314,76.5286,68.3572,40.3579,74.0982,63.4018,98.7321,98.3433,76.2489
4,98.639,90.0003,75.1908,98.5513,82.4269,83.7855,72.1101,62.4086,32.4901,26.4513,...,39.6771,52.5123,83.6215,75.1908,46.1576,81.1151,71.2732,99.1949,98.9435,83.3333
5,99.1291,93.1082,80.1388,99.0718,87.3523,88.7054,78.2037,67.3758,35.8225,30.601,...,43.5664,57.3176,88.5423,80.1388,51.0541,86.0452,77.3132,99.4908,99.3277,88.2554
6,99.4434,95.1599,83.7634,99.4057,90.798,92.1162,82.8722,71.2975,38.5999,34.518,...,46.7543,61.1397,91.9575,83.7634,55.2653,89.5238,81.9482,99.6798,99.5736,91.6781
7,99.6452,96.5289,86.4569,99.6201,93.2166,94.4819,86.4498,74.4595,40.9573,38.2311,...,49.3969,64.2028,94.3298,86.4569,58.9439,91.9926,85.5062,99.8005,99.731,94.0617
8,99.7748,97.4548,88.4923,99.758,94.9222,96.1243,89.193,77.063,42.9888,41.7613,...,51.6261,66.6879,95.98,88.4923,62.2028,93.7584,88.2406,99.8775,99.8318,95.7254
9,99.8582,98.0918,90.0596,99.8469,96.1324,97.266,91.2974,79.2497,44.7636,45.1229,...,53.5257,68.7206,97.1303,90.0596,65.1228,95.0335,90.3443,99.9264,99.8963,96.8903
10,99.9119,98.5388,91.2916,99.9042,96.9977,98.0613,92.9144,81.1203,46.3401,48.3266,...,55.1756,70.4101,97.9343,91.2916,67.7625,95.9656,91.9663,99.9573,99.9375,97.7092
11,99.9464,98.8597,92.2809,99.9412,97.6227,98.6167,94.159,82.7461,47.7639,51.3799,...,56.6377,71.8347,98.4983,92.2809,70.1667,96.6569,93.2208,99.9766,99.9636,98.2882
12,99.9685,99.0959,93.0923,99.965,98.0797,99.0058,95.1191,84.1788,49.0737,54.2884,...,57.9424,73.0526,98.8959,93.0923,72.3675,97.1783,94.1936,99.9884,99.9801,98.7003
13,99.9826,99.2743,93.7714,99.9803,98.4186,99.2797,95.8622,85.4555,50.2917,57.0575,...,59.1303,74.1137,99.1779,93.7714,74.3915,97.5791,94.9521,99.9952,99.9901,98.9962

In [4]:
from routes import routes_data
from cities import city_data

df_alternative_matrix = pd.DataFrame(columns = ['Weather Score', 'Corona score (%)', 'Cost', '# Hike Spots', '# Surf Spots', '# Spots', 'CO2 Emissions', 'Travel Time (h)'])

for i, route in enumerate(routes_data):
    #print(route['dayslist'])
    
    c = 0
    route_weather_scores = []
    route_corona_scores = []
    route_cost_score = 0
    act_hike = 0
    act_surf = 0
    act_both = 0
    
    for city_index, city_name in enumerate(route['stopsList']):
        #print(city_name)
        #print(city_weather_scores[city_name].iloc[c:(c+route['dayslist'][city_index])])
        
        route_weather_scores += city_weather_scores[city_name].iloc[c:(c+route['dayslist'][city_index])].to_list()
        route_corona_scores += city_corona_scores[city_name].iloc[c:(c+route['dayslist'][city_index])].to_list()
        c = c + route['dayslist'][city_index]
        
        route_cost_score += route['dayslist'][city_index] * city_data[city_name]['cost']
        act_hike += route['dayslist'][city_index] * city_data[city_name]['hike']
        act_surf += route['dayslist'][city_index] * city_data[city_name]['surf']
    
    act_both += (act_hike + act_surf)
    
    print("Route: ", route['stopsList'])
    print("Days: ", route['dayslist'])
    print("Weather score: ", sum(route_weather_scores) / len(route_weather_scores))
    print("Corona score: ", sum(route_corona_scores) / len(route_corona_scores))
    print(route_cost_score / 14)
    print("Act Hike: ", act_hike)
    print("Act Surf: ", act_surf)
    print("Act Both: ", act_both)
    print("Emissions: ", route['emission'])
    print("Travel time: ", route['travelTime'])
    print()
    
    df_alternative_matrix.loc[i] = [
        sum(route_weather_scores) / len(route_weather_scores),
        sum(route_corona_scores) / len(route_corona_scores),
        route_cost_score / 14,
        act_hike,
        act_surf,
        act_both,
        route['emission'],
        route['travelTime']
    ]

Route:  ['Zurich', 'Montpellier', 'Barcelona', 'Lyon', 'Geneva']
Days:  [2, 3, 3, 3, 3]
Weather score:  6.142857142857143
Corona score:  85.8206121259522
0.3807142857142857
Act Hike:  5
Act Surf:  3
Act Both:  8
Emissions:  473
Travel time:  1766

Route:  ['Colmar', 'Avignon', 'Ceret', 'Barcelona', 'Mende', 'Titisee-Neustadt']
Days:  [2, 1, 3, 3, 2, 3]
Weather score:  6.071428571428571
Corona score:  60.73654581105716
0.16999999999999998
Act Hike:  7
Act Surf:  3
Act Both:  10
Emissions:  519
Travel time:  1966

Route:  ['Mayrhofen', 'Bozen', 'Digne', 'Girona', 'Barcelona', 'Rodez', 'Chamonix']
Days:  [2, 2, 1, 2, 3, 2, 2]
Weather score:  5.785714285714286
Corona score:  60.61104988241442
0.1692857142857143
Act Hike:  7
Act Surf:  5
Act Both:  12
Emissions:  549
Travel time:  2253

Route:  ['St.Moritz', 'Genoa', 'Marseille', 'Barcelona', 'Bayonne', 'Bordeaux', 'Saint Etienne']
Days:  [2, 2, 2, 3, 2, 2, 1]
Weather score:  6.214285714285714
Corona score:  75.97305226612265
0.2614285714285715
Act Hike:  2
Act Surf:  7
Act Both:  9
Emissions:  609
Travel time:  2761

Route:  ['Zurich', 'Milan', 'Avignon', 'Barcelona', 'Bordeaux', 'Paris', 'Strasbourg']
Days:  [2, 2, 1, 3, 2, 3, 1]
Weather score:  6.0
Corona score:  90.06944611174019
0.3385714285714286
Act Hike:  3
Act Surf:  5
Act Both:  8
Emissions:  625
Travel time:  2384

In [7]:
df_alternative_matrix

,Weather Score,Corona score (%),Cost,# Hike Spots,# Surf Spots,# Spots,CO2 Emissions,Travel Time (h)
0,6.142857,85.820612,0.380714,5.0,3.0,8.0,473.0,1766.0
1,6.071429,60.736546,0.170000,7.0,3.0,10.0,519.0,1966.0
2,5.785714,60.611050,0.169286,7.0,5.0,12.0,549.0,2253.0
3,6.214286,75.973052,0.261429,2.0,7.0,9.0,609.0,2761.0
4,6.000000,90.069446,0.338571,3.0,5.0,8.0,625.0,2384.0

In [8]:
from weights import weights
from skcriteria import Data, MIN, MAX
from skcriteria.madm import closeness, simple

# Set Weigths
# Preference: Activity (0 or 1)
p_act_hike = 1
p_act_surf = 1

# Preference: Feature (0 or 1 or 2)
p_weather = 0
p_corona = 2
p_cost = 0
p_CO2 = 2
p_time = 0

# Create Optimal Sense
os = [MAX, MIN, MIN, MAX, MAX, MAX, MIN, MIN]

# Combine Alternative Matrix and Optimal Sense
anames = ["0", "1", "2", "3", "4"]
cnames = df_alternative_matrix.columns

weights = weights(p_weather, p_corona, p_cost, p_CO2, p_time,p_act_hike, p_act_surf).transpose().iloc[0, :].tolist()

data = Data(df_alternative_matrix, os, weights=weights, anames=anames, cnames=cnames)

# TOPSIS
dm = closeness.TOPSIS()
dec = dm.decide(data)
dec

TOPSIS (mnorm=vector, wnorm=sum) - Solution:
 ALT./CRIT.    Weather Score (max) W.0.0285    Corona score (%) (min) W.0.218875    Cost (min) W.0.0285    # Hike Spots (max) W.0.0    # Surf Spots (max) W.0.0    # Spots (max) W.0.5    CO2 Emissions (min) W.0.195625    Travel Time (h) (min) W.0.0285    Rank
------------  ------------------------------  -----------------------------------  ---------------------  --------------------------  --------------------------  ---------------------  --------------------------------  --------------------------------  ------
     0                   6.14286                            85.8206                      0.380714                     5                           3                         8                          473                               1766                  4
     1                   6.07143                            60.7365                        0.17                       7                           3                        10                          519                               1966                  2
     2                   5.78571                            60.611                       0.169286                     7                           5                        12                          549                               2253                  1
     3                   6.21429                            75.9731                      0.261429                     2                           7                         9                          609                               2761                  3
     4                      6                               90.0694                      0.338571                     3                           5                         8                          625                               2384                  5

In [10]:
print("Best route:", data.anames[dec.best_alternative_])

Best route: 2